.p-sidebarmenu {
  margin: 5vw;
}

.p-sidebarlist1 {
  margin: 5vw;
}

.p-sidebarlist2 {
  margin: 5vw;
}

.p-side {
  background-color: #f2ede9;
  width: 87.5%;
  position: absolute;
  top: 0vw;
  right: -100%;
  transition: right 0.5s;
  display: block;
  z-index: 3;
  //position: relative;
  height: 100%;
  overflow-y: scroll;
}

.is-open {
  right: 0vw;
  transition: right 0.3s;
}

.js-cross {
  font-size: 300%;
  font-weight: bold;
  color: #707070;
  position: absolute;
  right: 3vw;
  top: 0vw;
  cursor: pointer;
}

.p-sidebartext1 {
  font-size: 5vw;
  font-weight: bold;
  color: #707070;
  margin-top: 15vw;
}
