#p-menu-trigger {
    color: #707070;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0;
    position: absolute;
    right: 16px;
    top: 14px;
    transform: translateX(0);
    transition: transform 0.5s;
    vertical-align: middle;
 
    &::after {
      content: "×";
      font-size: 3rem;
      margin-top: -20px;
     
    }
  }