.p-sidebar {
    background-color: #f2ede9;
    width: 87.5%;
    //height: 2843px;
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0vw;
    right: 0vw;
    //スクロールさせるための設定
    overflow-y: auto;
    //position: fixed;
    //サイドバーのメニューが右からスライドしてくるような設定
    right: -100%;
    transition: right 0.5s;
}
