/*html{
    height: 100%;
    width: 100%;
}

html::before{

        background: red;
        content: "";
        //display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
      */
     