.l-container{
    height: 100%;
    width: 100%;
    left: -100%;
}

/*.l-container::before{

        background: red;
        content: "";
        //display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
*/


.move2{
    height: 100%;
}
 

.move2::before{
    width: 100%;
    height: 100%;
    background-color:#707070;
    position: absolute;
    left: 0vw;
    top:0vw;
    content: "";
    z-index: 2;
    opacity: 0.7;
}
     
body{
    height: 2546px;
    position: fixed;
    position: relative;
}

head{
    height: 100%;
}

//html{
//    height: 2546px;
//}