.sidebar {
    background-color: #f2ede9;
    width: 87.5%;
    //height: 2843px;
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0vw;
    right: 0vw;
    //overflow: auto;
    //overflow-y: auto;
    //position: fixed;
    display: block;
    right: -100%;
    transition: right 0.5s;
    //jQueryで#js-menuをクリックしたらopenクラスが付与されるように設定したので、

  &.open {
    right: 0%;
  }
}
